<div class="jumbotron">
  <h1>M<i>(ongo)</i>LB&nbsp<img src="images/marcbaseballfinal.png" height="75" width="75"></h1>
  <p>Major Leage Baseball statistics <i>streamlined</i>.</p>
  <p><button class="btn btn-primary btn-lg" ng-click="open()">Learn more</button></p>
</div>

<div class="container" ng-controller="HomeController">
	<!-- CREATE SMACKTALK MODAL -->
	<script type="text/ng-template" id="myHomeModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">about</h3>
        </div>
        <div class="modal-body">
        	<p>M(ongo)LB is a MEAN stack application. It retrieves baseball statistics for teams and players who were last active in 2014. The data is from the <a href="http://www.seanlahman.com/baseball-archive/statistics/">Sean Lahman Baseball Database</a>. Enjoy!</p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="loginOrRegister('/login')">log in</button>
            <button class="btn btn-warning" ng-click="loginOrRegister('/register')">register</button>
        </div>
    </script>
    <!-- / SMACKTALK MODAL -->
</div>