<h1>Profile</h1>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="user">
        <form id="tab">
            <label>username</label>
            <input ng-model="currentUser.username" class="form-control"/>
            <label>password</label>
            <input ng-model="currentUser.password" class="form-control">
            <label>first name</label>
            <input ng-model="currentUser.firstName" class="form-control">
            <label>last name</label>
            <input ng-model="currentUser.lastName" class="form-control">
            <label>email</label>
            <input ng-model="currentUser.email" class="form-control">
            <br>
            <accordion>
                <accordion-group heading="favorite players">
                    <div ng-repeat="player in currentUser.players">
                        <a href="#/player/{{player}}">{{player}}</a>
                    </div>
                </accordion-group>
                <accordion-group heading="favorite teams">
                    <div ng-repeat="team in currentUser.teams">
                        <a href="#/team/{{team}}">{{team}}</a>
                    </div>
                </accordion-group>
                <accordion-group heading="following">
                    <div ng-repeat="leader in currentUser.following">
                        <a href="#/profile/{{leader}}">{{leader}}</a>
                    </div>
                </accordion-group>
                <accordion-group heading="followers">
                    <div ng-repeat="follower in currentUser.followers">
                        <a href="#/profile/{{follower}}">{{leader}}</a>
                    </div>
                </accordion-group>
            </accordion>
            <div>
                <br>
                <button class="btn btn-primary" ng-click="update(currentUser)">update</button>
            </div>
        </form>
      </div>
  </div>


















<!--
<div ng-show="currentUser.roles.indexOf('admin') > -1">
    <h1>Admin</h1>
    <h2>User List</h2>    
    <table class="table table-striped">
        <tr>
            <td>&nbsp;</td>
            <td><input ng-model="user.username" class="form-control"/></td>
            <td><input ng-model="user.password" class="form-control" type="password"/></td>
            <td><input ng-model="user.firstName" class="form-control"/></td>
            <td><input ng-model="user.lastName" class="form-control"/></td>
            <td><input ng-model="user.email" class="form-control"/></td>
            <td><input ng-model="user.roles" class="form-control"/></td>
            <td><button ng-click="add(user)">&plus;</button>
            <td><button ng-click="update(user)">&check;</button>
        </tr>
            
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user._id}}</td>
            <td>{{user.username}}</td>
            <td>&nbsp;</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td><button ng-click="remove(user)">X</button>
            <td><button ng-click="select(user)">...</button>
        </tr>
    </table>
</div>-->